  .hero {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .modal {
      background: #fff;
      border-radius: 5px;
      padding: 20px;
      width: 280px; /* Adjust to your preferred width */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      text-align: center;
    }
    
    .modal-field {
      margin-bottom: 15px;
    }
    
    .modal-field label {
      display: block;
      font-weight: bold;
      text-align: left; 
      font-size: small;
      margin: 0px 0px 10px 0px;
    }
    
    .modal-field input {
      width: 90%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 0px 0px 20px 0px;
    }
    
    .modal-buttons {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .modal-addbtn{
      border-color: #aaa;
    }
    
    .modal-cancelbtn {
      padding: 10px 20px;
      margin: 0 10px;
      border: solid;
      background-color: transparent;
      border-radius: 20px;
      border-color: #A100FF;
      cursor: pointer;
    }

    .modal-addbtn {
      padding: 10px 20px;
      margin: 0 10px;
      border: none;
      background-color: #d8d8d8;
      border-radius: 20px;
      cursor: pointer;
    }
    
    .modal-buttons button:hover {
      background-color: #A100FF;
    }

    