.table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    background-color: #fff;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  thead {
    background-color: #59048a;
    color: #fff;
  }
  
  th {
    font-weight: bold;
  }

  
  button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: #fff;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  

  